USE [master]
GO
/****** Objeto: Database [GBPColmadoDB] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE DATABASE [GBPColmadoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GBPColmadoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\GBPColmadoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GBPColmadoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\GBPColmadoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GBPColmadoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GBPColmadoDB]
GO
/****** Objeto: Table [dbo].[__EFMigrationsHistory] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Abonos] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abonos](
	[AbonoId] [int] IDENTITY(1,1) NOT NULL,
	[CuentaPorCobrarId] [int] NOT NULL,
	[Fecha] [datetime] NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaRegistro] [datetime] NULL,
 CONSTRAINT [PK__Abonos__0038E98AC6D30B76] PRIMARY KEY CLUSTERED 
(
	[AbonoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Bitacora] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[UsuarioId] [int] NOT NULL,
	[Accion] [nvarchar](100) NOT NULL,
	[Modulo] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__Bitacora__3214EC07FC14A725] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CarritoItems] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarritoItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NULL,
	[ProductoId] [int] NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Cantidad] [decimal](18, 3) NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[TasaItbis] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_CarritoItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Categorias] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[CategoriaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK__Categori__F353C1E518F5D3D0] PRIMARY KEY CLUSTERED 
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CierresCaja] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CierresCaja](
	[CierreId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaApertura] [datetime] NOT NULL,
	[FechaCierre] [datetime] NULL,
	[MontoInicial] [decimal](18, 2) NOT NULL,
	[VentasEfectivo] [decimal](18, 2) NULL,
	[VentasCredito] [decimal](18, 2) NULL,
	[AbonosRecibidos] [decimal](18, 2) NULL,
	[MontoFinalEsperado] [decimal](18, 2) NOT NULL,
	[MontoRealEntregado] [decimal](18, 2) NULL,
	[Diferencia]  AS ([MontoRealEntregado]-[MontoFinalEsperado]),
	[Estado] [nvarchar](20) NULL,
 CONSTRAINT [PK__CierresC__0BAD3FBAAC6E5689] PRIMARY KEY CLUSTERED 
(
	[CierreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK__Clientes__71ABD0878150900E] PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Compras] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[CompraId] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[ProveedorId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[TotalNeto] [decimal](18, 2) NOT NULL,
	[TotalITBIS] [decimal](18, 2) NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK__Compras__067DA7457376CA34] PRIMARY KEY CLUSTERED 
(
	[CompraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ComprasDetalle] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprasDetalle](
	[DetalleId] [int] IDENTITY(1,1) NOT NULL,
	[CompraId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [decimal](18, 3) NOT NULL,
	[PrecioCompra] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK__ComprasD__6E19D6DAE8AE5771] PRIMARY KEY CLUSTERED 
(
	[DetalleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ConfiguracionesNegocio] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionesNegocio](
	[Id] [int] NOT NULL,
	[NombreComercial] [nvarchar](200) NOT NULL,
	[RNC] [nvarchar](20) NULL,
	[Direccion] [nvarchar](500) NULL,
	[CiudadProvincia] [nvarchar](100) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Correo] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[MargenGananciaDefecto] [decimal](18, 2) NOT NULL,
	[ItbisDefecto] [decimal](18, 2) NOT NULL,
	[MensajeTicket] [nvarchar](max) NULL,
	[ImpresoraPredeterminada] [nvarchar](200) NULL,
 CONSTRAINT [PK_ConfiguracionesNegocio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CuentasPorCobrar] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentasPorCobrar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[ClienteId] [int] NOT NULL,
	[VentaId] [int] NULL,
	[MontoDeuda] [decimal](18, 2) NOT NULL,
	[MontoAbonado] [decimal](18, 2) NULL,
	[Estado] [nvarchar](20) NULL,
	[DiasCredito] [int] NULL,
	[FechaVencimiento] [datetime] NULL,
	[BalancePendiente] [decimal](18, 2) NULL,
 CONSTRAINT [PK__CuentasP__3214EC072332A8FD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Devoluciones] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devoluciones](
	[DevolucionId] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[ProductoNombre] [nvarchar](100) NULL,
	[Cantidad] [int] NOT NULL,
	[MontoReembolsado] [decimal](18, 2) NULL,
	[Motivo] [nvarchar](500) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[UsuarioId] [int] NULL,
 CONSTRAINT [PK_Devoluciones] PRIMARY KEY CLUSTERED 
(
	[DevolucionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Permisos] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[PermisoId] [int] IDENTITY(1,1) NOT NULL,
	[Modulo] [nvarchar](50) NOT NULL,
	[Accion] [nvarchar](50) NOT NULL,
	[Permite] [bit] NOT NULL,
	[RolId] [int] NULL,
 CONSTRAINT [PK__Permisos__A16D1EC041379BA5] PRIMARY KEY CLUSTERED 
(
	[PermisoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Productos] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ProductoId] [int] IDENTITY(1,1) NOT NULL,
	[CodigoBarras] [nvarchar](50) NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[PrecioCompra] [decimal](18, 2) NOT NULL,
	[PrecioVenta] [decimal](18, 2) NOT NULL,
	[Stock] [decimal](18, 3) NULL,
	[TasaITBIS] [decimal](5, 2) NULL,
	[CategoriaId] [int] NULL,
	[ProveedorId] [int] NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK__Producto__A430AEA3DB3AD134] PRIMARY KEY CLUSTERED 
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Proveedores] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[ProveedorId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[RNC] [nvarchar](20) NULL,
	[Telefono] [nvarchar](20) NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK__Proveedo__61266A59C49B9362] PRIMARY KEY CLUSTERED 
(
	[ProveedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Roles__F92302F1540796D8] PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[UsuarioRoles] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRoles](
	[UsuarioId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
 CONSTRAINT [PK__UsuarioR__24AFD7977837963E] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK__Usuarios__2B3DE7B8D62F41B4] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Ventas] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[VentaId] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[UsuarioId] [int] NULL,
	[ClienteId] [int] NULL,
	[TotalNeto] [decimal](18, 2) NOT NULL,
	[TotalITBIS] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK__Ventas__5B4150AC39DD5EC8] PRIMARY KEY CLUSTERED 
(
	[VentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[VentasDetalle] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentasDetalle](
	[DetalleId] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NULL,
	[ProductoId] [int] NULL,
	[Cantidad] [decimal](18, 3) NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[TasaItbis] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK__VentasDe__6E19D6DA816C1A49] PRIMARY KEY CLUSTERED 
(
	[DetalleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Abonos_CuentaPorCobrarId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Abonos_CuentaPorCobrarId] ON [dbo].[Abonos]
(
	[CuentaPorCobrarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Abonos_UsuarioId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Abonos_UsuarioId] ON [dbo].[Abonos]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Bitacora_UsuarioId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Bitacora_UsuarioId] ON [dbo].[Bitacora]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_CierresCaja_UsuarioId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_CierresCaja_UsuarioId] ON [dbo].[CierresCaja]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Compras_ProveedorId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Compras_ProveedorId] ON [dbo].[Compras]
(
	[ProveedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Compras_UsuarioId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Compras_UsuarioId] ON [dbo].[Compras]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_ComprasDetalle_CompraId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_ComprasDetalle_CompraId] ON [dbo].[ComprasDetalle]
(
	[CompraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_ComprasDetalle_ProductoId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_ComprasDetalle_ProductoId] ON [dbo].[ComprasDetalle]
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_CuentasPorCobrar_ClienteId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_CuentasPorCobrar_ClienteId] ON [dbo].[CuentasPorCobrar]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_CuentasPorCobrar_VentaId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_CuentasPorCobrar_VentaId] ON [dbo].[CuentasPorCobrar]
(
	[VentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Devoluciones_UsuarioId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Devoluciones_UsuarioId] ON [dbo].[Devoluciones]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Devoluciones_VentaId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Devoluciones_VentaId] ON [dbo].[Devoluciones]
(
	[VentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Permiso_rol_modulo_accion] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Permiso_rol_modulo_accion] ON [dbo].[Permisos]
(
	[RolId] ASC,
	[Modulo] ASC,
	[Accion] ASC
)
WHERE ([RolId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Productos_CategoriaId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Productos_CategoriaId] ON [dbo].[Productos]
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Productos_ProveedorId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Productos_ProveedorId] ON [dbo].[Productos]
(
	[ProveedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Producto__F61589C8C52A37C0] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Producto__F61589C8C52A37C0] ON [dbo].[Productos]
(
	[CodigoBarras] ASC
)
WHERE ([CodigoBarras] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Roles__75E3EFCF25872476] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Roles__75E3EFCF25872476] ON [dbo].[Roles]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_UsuarioRoles_RolId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioRoles_RolId] ON [dbo].[UsuarioRoles]
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__536C85E4B6AD73C9] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Usuarios__536C85E4B6AD73C9] ON [dbo].[Usuarios]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Ventas_ClienteId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_ClienteId] ON [dbo].[Ventas]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Ventas_UsuarioId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_UsuarioId] ON [dbo].[Ventas]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_VentasDetalle_ProductoId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_VentasDetalle_ProductoId] ON [dbo].[VentasDetalle]
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_VentasDetalle_VentaId] Fecha de script: 11/7/2026 3:55:45 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_VentasDetalle_VentaId] ON [dbo].[VentasDetalle]
(
	[VentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Abonos] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Abonos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CierresCaja] ADD  DEFAULT ((0.0)) FOR [VentasEfectivo]
GO
ALTER TABLE [dbo].[CierresCaja] ADD  DEFAULT ((0.0)) FOR [VentasCredito]
GO
ALTER TABLE [dbo].[CierresCaja] ADD  DEFAULT ((0.0)) FOR [AbonosRecibidos]
GO
ALTER TABLE [dbo].[CierresCaja] ADD  DEFAULT (N'Abierto') FOR [Estado]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Activo]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CuentasPorCobrar] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CuentasPorCobrar] ADD  DEFAULT ((0.0)) FOR [MontoAbonado]
GO
ALTER TABLE [dbo].[CuentasPorCobrar] ADD  DEFAULT (N'Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[CuentasPorCobrar] ADD  DEFAULT ((15)) FOR [DiasCredito]
GO
ALTER TABLE [dbo].[CuentasPorCobrar] ADD  DEFAULT ((0.0)) FOR [BalancePendiente]
GO
ALTER TABLE [dbo].[Devoluciones] ADD  DEFAULT (N'Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Devoluciones] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0.0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((18.0)) FOR [TasaITBIS]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Activo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Abonos]  WITH CHECK ADD  CONSTRAINT [FK__Abonos__CuentaPo__19DFD96B] FOREIGN KEY([CuentaPorCobrarId])
REFERENCES [dbo].[CuentasPorCobrar] ([Id])
GO
ALTER TABLE [dbo].[Abonos] CHECK CONSTRAINT [FK__Abonos__CuentaPo__19DFD96B]
GO
ALTER TABLE [dbo].[Abonos]  WITH CHECK ADD  CONSTRAINT [FK__Abonos__UsuarioI__1AD3FDA4] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Abonos] CHECK CONSTRAINT [FK__Abonos__UsuarioI__1AD3FDA4]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK__Bitacora__Usuari__25518C17] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK__Bitacora__Usuari__25518C17]
GO
ALTER TABLE [dbo].[CierresCaja]  WITH CHECK ADD  CONSTRAINT [FK__CierresCa__Usuar__2180FB33] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[CierresCaja] CHECK CONSTRAINT [FK__CierresCa__Usuar__2180FB33]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK__Compras__Proveed__10566F31] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedores] ([ProveedorId])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK__Compras__Proveed__10566F31]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK__Compras__Usuario__114A936A] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK__Compras__Usuario__114A936A]
GO
ALTER TABLE [dbo].[ComprasDetalle]  WITH CHECK ADD  CONSTRAINT [FK__ComprasDe__Compr__14270015] FOREIGN KEY([CompraId])
REFERENCES [dbo].[Compras] ([CompraId])
GO
ALTER TABLE [dbo].[ComprasDetalle] CHECK CONSTRAINT [FK__ComprasDe__Compr__14270015]
GO
ALTER TABLE [dbo].[ComprasDetalle]  WITH CHECK ADD  CONSTRAINT [FK__ComprasDe__Produ__151B244E] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([ProductoId])
GO
ALTER TABLE [dbo].[ComprasDetalle] CHECK CONSTRAINT [FK__ComprasDe__Produ__151B244E]
GO
ALTER TABLE [dbo].[CuentasPorCobrar]  WITH CHECK ADD  CONSTRAINT [FK__CuentasPo__Clien__0A9D95DB] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([ClienteId])
GO
ALTER TABLE [dbo].[CuentasPorCobrar] CHECK CONSTRAINT [FK__CuentasPo__Clien__0A9D95DB]
GO
ALTER TABLE [dbo].[CuentasPorCobrar]  WITH CHECK ADD  CONSTRAINT [FK__CuentasPo__Venta__0B91BA14] FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([VentaId])
GO
ALTER TABLE [dbo].[CuentasPorCobrar] CHECK CONSTRAINT [FK__CuentasPo__Venta__0B91BA14]
GO
ALTER TABLE [dbo].[Devoluciones]  WITH CHECK ADD  CONSTRAINT [FK__Devolucio__Usuar] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Devoluciones] CHECK CONSTRAINT [FK__Devolucio__Usuar]
GO
ALTER TABLE [dbo].[Devoluciones]  WITH CHECK ADD  CONSTRAINT [FK__Devolucio__Venta] FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([VentaId])
GO
ALTER TABLE [dbo].[Devoluciones] CHECK CONSTRAINT [FK__Devolucio__Venta]
GO
ALTER TABLE [dbo].[Permisos]  WITH CHECK ADD  CONSTRAINT [FK_Permisos_Roles_RolId] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([RolId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Permisos] CHECK CONSTRAINT [FK_Permisos_Roles_RolId]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK__Productos__Categ__5629CD9C] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([CategoriaId])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK__Productos__Categ__5629CD9C]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK__Productos__Prove__571DF1D5] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedores] ([ProveedorId])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK__Productos__Prove__571DF1D5]
GO
ALTER TABLE [dbo].[UsuarioRoles]  WITH CHECK ADD  CONSTRAINT [FK__UsuarioRo__RolId__2DE6D218] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([RolId])
GO
ALTER TABLE [dbo].[UsuarioRoles] CHECK CONSTRAINT [FK__UsuarioRo__RolId__2DE6D218]
GO
ALTER TABLE [dbo].[UsuarioRoles]  WITH CHECK ADD  CONSTRAINT [FK__UsuarioRo__Usuar__2CF2ADDF] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[UsuarioRoles] CHECK CONSTRAINT [FK__UsuarioRo__Usuar__2CF2ADDF]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK__Ventas__ClienteI__5FB337D6] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([ClienteId])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK__Ventas__ClienteI__5FB337D6]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK__Ventas__UsuarioI__5EBF139D] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK__Ventas__UsuarioI__5EBF139D]
GO
ALTER TABLE [dbo].[VentasDetalle]  WITH CHECK ADD  CONSTRAINT [FK__VentasDet__Produ__6383C8BA] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([ProductoId])
GO
ALTER TABLE [dbo].[VentasDetalle] CHECK CONSTRAINT [FK__VentasDet__Produ__6383C8BA]
GO
ALTER TABLE [dbo].[VentasDetalle]  WITH CHECK ADD  CONSTRAINT [FK__VentasDet__Venta__628FA481] FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([VentaId])
GO
ALTER TABLE [dbo].[VentasDetalle] CHECK CONSTRAINT [FK__VentasDet__Venta__628FA481]
GO
USE [master]
GO
