<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GBPColmado"
		     connectionString="Server=.\SQLEXPRESS;Database=GBPColmadoDB;Trusted_Connection=True;TrustServerCertificate=True;"
		     providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>