<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GBPColmado"
			 connectionString="workstation id=GBPColmadoDb.mssql.somee.com;packet size=4096;
			 user id=Juniorbp20_SQLLogin_1;pwd=acccp75243;data source=GBPColmadoDb.mssql.somee.com;
			 persist security info=False;initial catalog=GBPColmadoDb;TrustServerCertificate=True"
			 
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>